[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"
pdbpp = "*"

[packages]
admin-extra-urls = "*"
bootstrap-admin = "*"
django = "*"
djangorestframework = "*"
django-filter = "*"
psycopg2 = "*"
celery = "*"
django-admin-json-editor = "*"
django-environ = "*"
django-extensions = "*"
django-cloneable = "*"
django-constance = {extras = ["db"],version = "*"}
django-crashlog = "*"
django-crispy-forms = "*"
django-formtools = "*"
django-fsm = "*"
django-fsm-admin = "*"
django-fsm-log = "*"
django-impersonate = "*"
django-model-utils = "*"
django-mptt = "*"
django-leaflet = "*"
django-picklefield = "*"
django-redis = "*"
dj-static = "*"
drf-yasg = "*"
fiona = "*"
markdown = "*"
requests = "*"


[requires]
python_version = "3.7"
