[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"
pdbpp = "*"

[packages]
django = "==2.2b1"
djangorestframework = "*"
django-filter = "*"
#dj-static = "*"
psycopg2 = "*"
celery = "*"
#social-auth-core = {extras = ["django"],version = "*"}
django-environ = "*"
django-constance = {extras = ["db"],version = "*"}
django-mptt = "*"
django-leaflet = "*"
django-redis = "*"
django-picklefield = "*"
django-model-utils = "*"
django-admin-json-editor = "*"
django-impersonate = "*"
#social-auth-app-django = "*"
#cryptography = "*"
dj-static = "*"
fiona = "*"
django-fsm = "*"
django-fsm-admin = "*"
django-fsm-log = "*"
django-crashlog = "*"
requests = "*"
admin-extra-urls = "*"
drf-yasg = "*"
django-crispy-forms = "*"
django-formtools = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
